In [1]:
# File single line ,/*My file*/ multiple line

In [2]:
#shift + Enter

In [3]:
# Variable -> Memory denote 1010101-90  
# a=90,a=900,a=12 vary if u want (ovrewrite)
#data type not compulsory + inter

In [5]:
age=21

In [6]:
name='Namrata'

In [7]:
Hno=901

In [10]:
print(Hno)# value of the variable + literal 'Welcome'

901

In [11]:
print('Welcome')

Welcome

In [12]:
print(name," this is your first file ")# '',""

Namrata  this is your first file

In [13]:
print(name,' this is your first file ')

Namrata  this is your first file

In [15]:
print("this is namrata's first file ")

this is namrata's first file

In [16]:
#Python is case sensitive

In [17]:
print(age)

21

In [18]:
print(Age)

NameError: name 'Age' is not defined

In [21]:
print(age)

21

In [22]:
Print=89

In [23]:
print(Print)

89

In [30]:
a=10 
print(a)

10

In [31]:
a='namrata'
b=a

In [32]:
print(a ," ",b)

namrata   namrata

In [33]:
a

'namrata'

In [34]:
a=b=c='namrata'

In [35]:
print(a,' ',b,' ',c)

namrata   namrata   namrata

In [36]:
print(a,b,c)

namrata namrata namrata

In [37]:
a=90

In [47]:
a,b=90,23

In [48]:
print(a,b)

90 23

In [45]:
#string,number,boolean,date

In [46]:
#type()variable's datatype

In [49]:
type(a)

int

In [50]:
b=78.67
type(b)

float

In [51]:
c='namrata'
type(c)

str

In [52]:
c='namrata123'
type(c)

str

In [55]:
b=37648486534865834636832.5668479458

In [56]:
type(b)

float

In [57]:
d='namrata3.4'

In [58]:
type(d)

str

In [61]:
f=5.55

In [62]:
type(f)

float

In [64]:
c=True

In [65]:
type(c)

bool

In [66]:
piyush='123'

In [69]:
output=int(piyush)+1
output

124

In [70]:
# Implicit + Explicit

In [71]:
a=12

In [72]:
b=a+9.9 #Implicit

In [73]:
print(b)

21.9

In [75]:
type(b)

float

In [76]:
price=900

In [77]:
tax='10'

In [80]:
print(price+int(tax))

910

In [87]:
price='900'
tax='10'
print(price+tax)# concatination +'

90010

In [88]:
var1=34
print(float(var1))

34.0

In [89]:
var2=2345.78
print(int(var2))

2345

In [98]:
x,y=-21,0

In [92]:
print(type(x))

<class 'int'>

In [99]:
print(bool(x))

True

In [100]:
print(bool(y))

False

In [101]:
#NAN,NULL this is not a value unknown

In [105]:
print('namrata','thukral','Python',sep=" - ")#This is flexible in parameters

namrata - thukral - Python

In [108]:
print('namrata')
print('\n')# line break + Enter \' escape character
print('thukral')

namrata


thukral

In [109]:
print('namrata')
print('\t')# tab
print('thukral')

namrata

thukral

In [110]:
print(" Welcome to the world of Python") #Error

 Welcome to the world of Python

In [111]:
print('Namrata','thukral')

Namrata thukral

In [112]:
print('Namrata','thukral',23)

Namrata thukral 23

In [114]:
print('Namrata '+' thukral')

Namrata  thukral

In [126]:
print('Namrata  thukral'+str(23))# \n suppress escape character- behavioural

Namrata  thukral23

In [127]:
# operators
print(9+8)

17

In [128]:
print(9*8)

72

In [129]:
print(2**2)

4

In [130]:
print(2**3)

8

In [131]:
print(4/2)#float

2.0

In [132]:
print(5/2)#float ( division)

2.5

In [133]:
print(5//2)# (floor division)

2

In [134]:
a=125
b=9.2

In [135]:
print(a-b)# Implicit Conversion

115.8

In [136]:
a-b

115.8

In [138]:
a='namrata'
b='thukral'
a-b #ascii

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [139]:
print(a*2) #square

namratanamrata

In [140]:
print(a*'thukral') #square

TypeError: can't multiply sequence by non-int of type 'str'

In [143]:
print(5//2)

2.5

In [144]:
print(5%2)

1

In [145]:
print(8**8)

16777216

In [146]:
print(8**2)

64

In [147]:
print(8*8)

64

In [148]:
#input

In [149]:
var1=input(" Enter your name ")
print("Your name is ", var1)

 Enter your name Namrata Thukral
Your name is  Namrata Thukral

In [150]:
var1=input(" Enter your age  ")
print("Your age is ", var1)

 Enter your age  23
Your age is  23

In [152]:
p1=input('enter price')# string 
p2=input('enter quantity')
print(p1*p2)

enter price2
enter quantity2

TypeError: can't multiply sequence by non-int of type 'str'

In [153]:
type(p1)

str

In [154]:
type(p2)

str

In [155]:
p1=int(input('enter price'))# string 
p2=int(input('enter quantity'))
print(p1*p2)

enter price12
enter quantity20
240