In [4]:
a=input("Enter you name")
print(a)

Enter you nameNamrata
Namrata

In [8]:
a1=23
a2=34
print(a1>a2)

False

In [9]:
a1=45
a2=34
print(a1>a2)

True

In [10]:
a1=45
a2=45
print(a1==a2)

True

In [12]:
a1=a2# assignement
a=900
a1==a2#comparison

True

In [14]:
a1=90
a2=90
print(a1>=a2)

True

In [16]:
a1=90
a2=90
print(a1!=a2)

False

In [19]:
a1=900
a2=670
print(a1==a2) or (a1>a2) or (a1!=a2)#either is true

False

True

In [22]:
a1=900
a2=900
print(a1==a2) and (a1==a2) and (a1==a2)# all them must be true

True

In [24]:
name='namrata'
n='a'
#membership  - in
print(n  in name)# print(n not in name)

False

In [25]:
['english','hindi','maths']#science

['english', 'hindi', 'maths']

In [26]:
#Bitwise operator (& (and ),| (or))

In [29]:
num=9
print((num%3==0) & (num%5==0))

False

In [30]:
num=9
print((num%3==0) | (num%5==0))

True

In [31]:
#assignement
a=100
b=90
a=a+b#a+=b
a

190

In [34]:
a=100
b=90
a+=b
a

190

In [35]:
a=100
b=90
a*=b
a

9000

In [36]:
a=100
b=90
a-=b
a

10

In [37]:
a=100
b=90
a/=b
a

1.1111111111111112

In [38]:
a=100
b=90
a//=b
a

1

In [50]:
#Datatypes
#String''
#Int/Float
#Boolean
#a=90

#Complex /User Defined 
#List ['namrata','thukral'],[1,3,5,1],['namrata',357,89]- heterogenous diff + Mutable(changes)
#Tuples ('namrata','thukral') heter + Non Mutable (Security)
#Dictionaries(key:value)('Name':'Namrata','Age':23)
#Set (1,2,3,4)duplicate
#Array [] homogenous
#Functions #SQL Developers

#Data Slicing section you can see = Break = Sub string 
#[start:stop:step]
#[start:stop:default 1 ]
#'namrata'
#[0:3]- index 0 
#[0:8:2]
a='great learning'
#a[3]
#a[:]
#a[0:4]
#a[2:]
#-ve slicing 
#a[-1]
#a[1:-1]
#a[1:]
#a[-1:1] no result
#a[::-1]
a

'great learning'

In [51]:
a[-3]

'i'

In [52]:
a[11]

'i'

In [54]:
a[::-1][-3]

'e'

In [ ]:
#list,dic,set

In [55]:
a='great learning'
a.replace('g','G')

'Great learninG'

In [56]:
a.upper()

'GREAT LEARNING'

In [57]:
a.lower()

'great learning'

In [58]:
a.title()

'Great Learning'

In [60]:
text="My name is namrata"
text.split(' ')

['My', 'name', 'is', 'namrata']

In [62]:
text="***Hello***"
text.strip("*")#it is trimming leading / trailing

'Hello'

In [63]:
text="***Hel***lo***"
text.strip("*")#it is trimming leading / trailing

'Hel***lo'

In [64]:
text="**Hel**lo**"
text.split('*')

['', '', 'Hel', '', 'lo', '', '']

In [65]:
#Conditional Flow true / false (if else ,loop )

In [66]:
#if statement

In [71]:
num=int(input("Enter your number"))
if num>10:
    print("Number is greater")

Enter your number1

In [75]:
num=int(input("Enter your number"))
if num>10:
    print("Number is greater")
else:
    print("Number is smaller")

Enter your number23
Number is greater

In [78]:
#Loop while / For range(1,10)

In [ ]:
#i iteration=run=increment (index)12345678910 = Initlize

In [86]:
num=range(1,11)
for k in num:
    print(k,k*2)

1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18
10 20